{% extends 'panel/layout.html' %} {% block title %}
<title>gnews publisher | Articles Index</title>
{% endblock %} {% block extraheadfiles %} {% endblock %} {% block
content %}

<div class="btn-toolbar pull-right"" style="margin: 0; padding:5px;">
<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		Order By Date <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/admin/articles/?order=date_desc">
				Date ASC</a>
		<li><a href="/admin/articles/?order=date_asc">
				Date DESC</a>
	</ul>
</div>

<div class="btn-group">
	<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		List By Status <span class="caret"></span>
	</a>
	<ul class="dropdown-menu">
		<li><a href="/admin/articles/?list=Live">Live</a>
		<li><a href="/admin/articles/?list=Pending">Pending</a>
		<li><a href="/admin/articles/?list=Draft">Draft</a>
	</ul>
</div>
</div>


<table class="table table-striped table-bordered table-condensed">
	<thead>
		<th style="width: 50%">Title</th>
		<th style="width: 20%">Publish Date</th>
		<th style="width: 20%">Status</th>

		<th style="width: 10%"></th>
	</thead>
	<tbody>
		{% for article in articles %}
		<tr id="article{{ article.id }}">
			<td>{{ article.title }}</td>
			<td>{{ article.publish_date|date('d/m/Y H:i') }}</td>
			<td class="CommentStatus">{{ article.status }}</td>
			<td width="20%">

				<div class="btn-group">

					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
						href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/article/edit/{{ article.id }}"><i
								class="icon-pencil"></i> Edit Article</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<div class="pagination">{{ pagination_links|raw }}</div>


{% endblock %} {% block bottomcode %} {% endblock %}
