{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | Article Publishing</title>
{% endblock %}

{% block extraheadfiles %}
 

{% endblock %} 


{% block content %}



<section id="forms">

    <div class="row">
        <div class="span10 offset1">

            <form class="form-horizontal well" method="post" action="update" name="update_article" id="update_category">
                <legend>Update Category</legend>
                <div class="control-group">
                    <label class="control-label" for="input01">Category Name</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="title" name="article">
                            <p class="help-block">This will be displayed on the top of article.</p>
                    </div>
                </div>   


                <div class="control-group">
                    <label class="control-label" for="mainCategory">Parent Category</label>
                    <div class="controls">
                        <select id="mainCategory" name="mainCategory">
                            <option selected="selected"> - - - - - </option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="status">Status</label>
                    <div class="controls">
                        <select id="status" name="status">
                            <option> </option>
                            <option values="2">Pending</option>
                            <option values="1">Active</option>
                            <option values="0">Draft</option>
                        </select>
                    </div>
                </div>                   

                <div class="control-group">
                    <label class="control-label" for="seoTitle">Seo Title</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="seoTitle" name="seo_title"/>
                        <p class="help-block">Page title for search engines limit size is 120 characters</p>
                    </div>
                </div> 

                <div class="control-group">
                    <label class="control-label" for="seoDesc">Seo Description</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="seoDesc"  name="seo_desc">
                    </div>
                </div>                     
                <div class="control-group">
                    <label class="control-label" for="seoKeyword">Seo Keyword</label>
                    <div class="controls">
                        <input type="text" class="input-xlarge" id="seoKeyword"  name="seo_keyword">
                    </div>
                </div>   

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="reset" class="btn">Cancel</button>
                </div>
                <!-- ending form-->
            </form>

        </div>   </div>     
</section>   
{% endblock %}
{% block bottomcode %} 
{% endblock %}