{% extends 'panel/layout.html' %} {% block title %}
<title>gnews publisher | Categories</title>
{% endblock %} {% block extraheadfiles %} {% endblock %} {% block
content %}


<table class="table table-hover">
	<thead>
		<tr>
			<th style="width: 90%">Name</th>
			<th style="width: 10%">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for cat in categories %}
		<tr>
			<td>{{ cat.name }}</td>
			<td width="20%">

				<div class="btn-group">

					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
						href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/category/edit/{{ cat.id }}"><i
								class="icon-pencil"></i> Edit Category</a></li>
						<li><a href="/admin/category/list/{{ cat.id }}"><i
								class="icon-list"></i> List Articles</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %} {% block bottomcode %} {% endblock %}
