{% extends 'panel/layout.html' %} {% block title %}
<title>gnews publisher | Article Publishing</title>
<script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
<style type="text/css">
</style>
{% endblock %} {% block extraheadfiles %}
<link href="/css/datepicker.css" rel="stylesheet" />
{% endblock %} {% block content %}
<section id="forms">
	<div class="row">
	
                 
                 
		<div class="span10 offset1">
			<form class="form-horizontal well" method="post"
				action="/admin/article/edit/update" name="update_article"
				id="update_article">
				<input type="hidden" id="id" name="id" value="{{ article.id }}">

				<div class="tabbable">
					<!-- Only required for left/right tabs -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">Information</a></li>
						<li><a href="#tab2" data-toggle="tab">Story</a></li>
						<li><a href="#tab3" data-toggle="tab">Status &amp;
								Publish Date</a></li>
						<li><a href="#tab4" data-toggle="tab">Seo Features</a></li>
						<li><a href="#tab5" data-toggle="tab">Image Gallery</a></li>
						<li><a href="#tab6" data-toggle="tab">Video</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<div class="control-group">
								<label class="control-label" for="input01">Article Title</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="title" name="title"
										value="{{ article.title }}">
									<p class="help-block">This will be displayed on the top of
										article.</p>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="summary">Summary</label>
								<div class="controls">
									<textarea class="field span6" id="summary" name="summary"
										rows="10">{{ article.summary }}</textarea>
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="mainCategory">Category</label>
								<div class="controls">
									<select id="mainCategory" name="main_category">
										<option value="0">- - - - -</option> {% for cat in categories
										%} {% if cat.id == article.main_category %}
										<option selected="selected" value="{{ cat.id }}">{{
											cat.name }}</option> {% else %}
										<option value="{{ cat.id }}">{{ cat.name }}</option> {% endif
										%} {% endfor %}
									</select>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab2">
							<div class="control-group">
								<label class="control-label" for="textarea">Story</label>
								<div class="controls">
									<textarea class="ckeditor editor-html" id="story" name="story"
										rows="3">{{ article.story }}</textarea>
									<script type="text/javascript">
										//         
										CKEDITOR.replace('story', {
											extraPlugins : 'autogrow',
											autoGrow_maxHeight : 400,
											removePlugins : 'resize'
										});
										//
									</script>

								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab3">
							<div class="control-group">
								<label class="control-label" for="status">Article Status</label>
								<div class="controls">
									<select id="status" name="status">
										<option selected values="{{ article.status }}">{{
											article.status }}</option>
										<option values="Pending">Pending</option>
										<option values="Live">Live</option>
										<option values="Draft">Draft</option>
									</select>
								</div>
							</div>


							<div class="control-group">
								<label class="control-label" for="status">Page Part</label>
								<div class="controls">
									<select id="module" name="module">
										<option value="0">- - - - -</option> {% for module in modules
										%} {% if module.name == article.module %}
										<option selected="selected" value="{{ module.name }}">{{
											module.title }}</option> {% else %}
										<option value="{{ module.name }}">{{ module.title }}</option>
										{% endif %} {% endfor %}
									</select>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="publish_date">Publish
									Date</label>
								<div class="controls">

									<div class="input-append date" id="publish_date"
										data-date="{{ article.publish_date|truncate(10, true, '') }}"
										data-date-format="yyyy-mm-dd">
										<input class="span2" size="16" type="text"
											value="{{ article.publish_date|truncate(10, true, '') }}"
											name="publish_date" /> <span class="add-on"><i
											class="icon-th"></i></span>
									</div>


									<input class="timepicker-3" type="text" style="width: 75px;"
										name="publish_hour" value="23:10" /> <i class="icon-time"
										style="margin: -2px 0 0 -22.5px; pointer-events: none; position: relative;"></i>

								</div>
							</div>
						</div>
						<div class="tab-pane" id="tab4">

							<div class="control-group">
								<label class="control-label" for="seoTitle">Seo Title</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="seoTitle"
										name="seo_title" value="{{ article.seo_title }}" />
									<p class="help-block">Page title for search engines limit
										size is 120 characters</p>
								</div>
							</div>

							<div class="control-group">
								<label class="control-label" for="seoDesc">Seo
									Description</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="seoDesc"
										name="seo_desc" value="{{ article.seo_desc }}">
								</div>
							</div>
							<div class="control-group">
								<label class="control-label" for="seoKeyword">Seo
									Keyword</label>
								<div class="controls">
									<input type="text" class="input-xlarge" id="seoKeyword"
										name="seo_keyword" value="{{ article.seo_keyword }}">
								</div>
							</div>

						</div>

						<div class="tab-pane" id="tab5">
							{% for image in gallery %}

							<div class="row">
								<div class="span4 offset1">
									<img
										src="{{ site_url }}images/content/{{ image.dirpath }}/{{ image.filename }}">
								</div>
								<div class="span4">
									<b>{{ image.title }} </b><br /> {{ image.alt }} <br />


								</div>
							</div>
							<br /> {% endfor %} <a
								href="{{ site_url }}admin/gallery/add/{{ article.id }}"
								class="btn btn-primary">Add an image</a> <a
								href="{{ site_url }}/admin/gallery/photos/?article_id={{ article.id }}"
								class="btn btn-primary">Visit Gallery</a>
						</div>

						<div class="tab-pane" id="tab6">

							<div class="row">
								<div class="span8 offset1">
									 
									<iframe  
										src="http://www.youtube.com/embed/{{ video.filename }}?wmode=opaque&amp;showinfo=0&amp;autohide=1"
										width="640" height="480" allowfullscreen></iframe>
									 
											<p>
								<a href="{{ site_url }}admin/gallery/video/{{ article.id }}"
									class="btn btn-primary">Update Video</a>
							</p>
								</div>
							</div>
							
						</div>

					</div>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Save changes</button>
					<button type="reset" class="btn">Cancel</button>
				</div>
				<!-- ending form-->
			</form>

		</div>
	</div>
</section>

<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">×</button>
		<h3 id="myModalLabel">Confirmation needed!</h3>
	</div>
	<div class="modal-body">
		<p>Please, confirm to delete the image from gallery!</p>
		<input type="hidden" name="photoID" id="photoID" value="" />
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" onclick="goto()">Continue</button>
	</div>
</div>

{% endblock %} {% block bottomcode %}
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/bootstrap-timepicker.js"></script>
<script>
	$(function() {
		$('#publish_date').datepicker();
		$('.timepicker-3').timepicker({
			minuteStep : 1,
			secondStep : 5,
			showInputs : false,
			template : 'modal',
			modalBackdrop : true,
			showSeconds : false,
			showMeridian : false,
			defaultTime : value
		});
	});

    </script>
{% endblock %}
