<!DOCTYPE html>
<html lang="en">    
    <head>        
        <meta charset="utf-8">                      {% block title %}                 {% endblock %}      
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta name="description" content="">    
        <meta name="author" content="">    
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->    
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->    
        <!-- Le styles -->    
    <link href="/css/bootstrap.css" rel="stylesheet"/>    
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>    
    <link href="/css/panel_docs.css" rel="stylesheet"/>             {% block extraheadfiles %}                 {% endblock %}  
</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">                                    
    <!-- Navbar
        ================================================== -->  
<div class="navbar navbar-fixed-top">   
    <div class="navbar-inner">     
        <div class="container">       
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">         
                <span class="icon-bar">
                </span>         
                <span class="icon-bar">
                </span>         
                <span class="icon-bar">
                </span>       </a>       
            <a class="brand" href="/admin">Gnews Publisher</a>       
            <div class="nav-collapse" id="main-menu">       

            </div>     
        </div>   
    </div> 
</div>
<div class="container">   




    <section id="forms">

        <div class="row">
            <div class="span10 offset1">
                
                 <div class="alert alert-error">
                      You can not access to this page!
                </div>
               
            </div>   </div>     
    </section>   
    <!-- Footer
     ================================================== --> 
    <footer class="footer">    
        <p class="pull-right">
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>
<!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>{% block bottomcode %} {% endblock %} 
</body>
</html>