<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% block title %} {% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
<!-- Le styles -->
<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/bootstrap-responsive.css" rel="stylesheet" />
<link href="/css/panel_docs.css" rel="stylesheet" />
{% block extraheadfiles %} {% endblock %}
</head>
<body class="preview" data-spy="scroll" data-target=".subnav"
	data-offset="50">
	<!-- Navbar
        ================================================== -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"> </span> <span
					class="icon-bar"> </span> <span class="icon-bar"> </span>
				</a> <a class="brand" href="/admin">Gnews Publisher</a>
				<div class="nav-collapse" id="main-menu">
					<ul class="nav">
						<li><a href="/admin">Panel Home</a></li>
						<li class="dropdown"><a href="admin/categories"
							class="dropdown-toggle" data-toggle="dropdown">Categories <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin/categories">All Categories</a></li>
								<li><a href="/admin/category/new">New category</a></li>
							</ul></li>
						<li class="dropdown"><a href="admin/articles"
							class="dropdown-toggle" data-toggle="dropdown">Articles <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin/articles">All Articles</a></li>

								<li><a href="/admin/newarticle">New Article</a></li>
							</ul></li>

						<li class="dropdown"><a href="admin/modules"
							class="dropdown-toggle" data-toggle="dropdown">Gallery <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin/gallery/photos">Photo Gallery</a> <a
									href="/admin/gallery/videos">Video Gallery</a></li>
							</ul></li>
						<li class="dropdown"><a href="admin/modules"
							class="dropdown-toggle" data-toggle="dropdown">Users <b
								class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/admin/users">User List</a></li>
								<li><a href="/admin/user/add">Add User</a></li>
							</ul></li>

						<li class="dropdown"><a href="admin/modules"
							class="dropdown-toggle" data-toggle="dropdown">Content
								Importer <b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a href="/admin/rss">RSS List</a></li>
								<li><a href="/admin/rss/insert">New RSS Source</a></li>
							</ul></li>
						<li><a href="/admin/logout">Log Out</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		{% block content %} {% endblock %}
		<!-- Footer
     ================================================== -->
		<footer class="footer">
			<p class="pull-right">
				<a href="#">Back to top</a>
			</p>
		</footer>
	</div>
	<!-- /container -->
	<!-- Le javascript
================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="/js/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	{% block bottomcode %} {% endblock %}
</body>
</html>