<!DOCTYPE html>
<html lang="en">    
    <head>        
        <meta charset="utf-8">                      
        <title>Gnews Publisher - PANEL LOGIN</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <meta name="description" content="">    
        <meta name="author" content="">    
        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->    
        <!--[if lt IE 9]>
              <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->    
        <!-- Le styles -->    
    <link href="/css/bootstrap.css" rel="stylesheet"/>    
    <link href="/css/bootstrap-responsive.css" rel="stylesheet"/>    
    <link href="/css/panel_docs.css" rel="stylesheet"/>             {% block extraheadfiles %}                 {% endblock %}  
</head>
<body class="preview" data-spy="scroll" data-target=".subnav" data-offset="50">                                    
    <!-- Navbar
        ================================================== -->  
<div class="navbar navbar-fixed-top">   
    <div class="navbar-inner">     
        <div class="container">       
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">         
                <span class="icon-bar">
                </span>         
                <span class="icon-bar">
                </span>         
                <span class="icon-bar">
                </span>       </a>       
            <a class="brand" href="/admin">Gnews Publisher</a>       
            <div class="nav-collapse" id="main-menu">       

            </div>     
        </div>   
    </div> 
</div>
<div class="container">   




    <section id="forms">

        <div class="row">
            <div class="span10 offset1">
                 {{ validation_errors()|raw }}
                 {% if error %}
                 <div class="alert alert-error">
                      Login failed!
                </div>
                 {% endif %}
                <form class="form-horizontal well" method="post" action="/admin/login" name="user_login" id="user_login">


                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="control-group">
                                    <label class="control-label" for="input01">Email:</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge" id="email" name="email" value="">
                                    </div>
                                </div>             
                                <div class="control-group">
                                    <label class="control-label" for="input01">Password</label>
                                    <div class="controls">
                                        <input type="password" class="input-xlarge" id="password" name="password" value="">
                                    </div>
                                </div>             
                            </div>
                        </div>      
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <!-- ending form-->
                </form>

            </div>   </div>     
    </section>   
    <!-- Footer
     ================================================== --> 
    <footer class="footer">    
        <p class="pull-right">
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>
<!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>{% block bottomcode %} {% endblock %} 
</body>
</html>