{% extends 'panel/layout.html' %}

{% block title %}
<title>gnews publisher | Photo Gallery</title>
{% endblock %}

{% block extraheadfiles %}


{% endblock %} 


{% block content %}



<section id="forms">

    <div class="row">
        <div class="span10 offset1">

            <form class="form-horizontal well" method="post" action="/admin/photo/edit" enctype="multipart/form-data" name="update_photo" id="update_photo">
                <input type="hidden" id="id" name="id" value="{{ photo.id }}">
                <input type="hidden" id="article_id" name="article_id" value="{{ photo.article_id }}">

                    <div class="control-group">
                        <label class="control-label" for="input01">Title</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="title" name="title" value="{{ photo.title }}">

                        </div>
                    </div>  
                    <div class="control-group">
                        <label class="control-label" for="input01">Alt Text</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="alt" name="alt" value="{{ photo.alt }}">

                        </div>
                    </div>  
                    <div class="control-group">
                        <div class="controls">
                            {% if photo.main == 1 %}
                            <label class="radio inline">
                                <input type="radio" name="main" id="mainOn" value="1" checked>Main Photo
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="main" id="mainOff" value="0">Gallery Photo
                            </label>
                            {% else %}
                            <label class="radio inline">
                                <input type="radio" name="main" id="mainOn" value="1" >Main Photo
                            </label>
                            <label class="radio inline">
                                <input type="radio" name="main" id="mainOff" value="0" checked>Gallery Photo
                            </label>
                            {% endif %}
                        </div>
                    </div> 
                    <div class="control-group">
                        <div class="controls">
                            <input type="file" class="input" id="filename" name="filename" ">
                        </div>
                    </div>                     
                    <div class="control-group">
                        <div class="controls">
                            <img src="{{ site_url }}images/content/{{ photo.dirpath }}/{{ photo.filename }}">
                        </div>
                    </div>                     
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                         <a href="{{ site_url }}admin/article/edit/{{ photo.article_id }}" class="btn btn-large btn-primary">Return to Article</a> 
                    </div>
                    <!-- ending form-->
            </form>

        </div>   </div>     
</section>   

{% endblock %}
{% block bottomcode %}
 
{% endblock %}