{% extends 'panel/layout.html' %} {% block title %}
<title>gnews publisher | New RSS Source</title>
{% endblock %} {% block extraheadfiles %} {% endblock %} {% block
content %}



<section id="forms">

	<div class="row">
	
	
	         {{ validation_errors()|raw }}
                 {% if error %}
                 <div class="alert alert-error">
                     Updated!
                </div>
                 {% endif %}
                 
		<div class="span10 offset1">

			<form class="form-horizontal well" method="post" action="/admin/rss/edit/{{ rss.id }}"
				name="update_rss" id="update_rss">
			 
				<div class="control-group">
					<label class="control-label" for="input01">Source Name</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="name" name="name" value="{{ rss.name }}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="input01">RSS Url</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="source" name="source" value="{{ rss.source }}">
					</div>
				</div>

				<div class="control-group">
					<label class="control-label" for="mainCategory">Category</label>
					<div class="controls">
						<select id="cat_id" name="cat_id">
							<option value="0">- - - - -</option> {% for cat in categories %}
							{% if cat.id == rss.cat_id %}
							<option selected="selected" value="{{ cat.id }}">{{
								cat.name }}</option> {% else %}
							<option value="{{ cat.id }}">{{ cat.name }}</option> {% endif %}
							{% endfor %}
						</select>
					</div>
				</div>

				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Save changes</button>
					<button type="reset" class="btn">Cancel</button>
				</div>
				<!-- ending form-->
			</form>

		</div>
	</div>
</section>
{% endblock %} {% block bottomcode %} {% endblock %}
