{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | RSS Importer</title>
{% endblock %}

{% block extraheadfiles %}
 

{% endblock %} 


{% block content %}
  
  
  
  
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <th style="width: 80%">Title</th>
    <th style="width: 20%">Publish Date</th>
</thead>
<tbody>
    {% for article in articles %}
    <tr id="article{{ article.id }}">
        <td>{{ article.title }}</td>
        <td>{{ article.publish_date|date('d/m/Y H:i') }}</td>
           
    </tr>
    {% endfor %}
</tbody>
</table>
<div class="pagination">{{ pagination_links|raw }}</div>


{% endblock %}
{% block bottomcode %}
 
{% endblock %}