{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | Categories</title>
{% endblock %}

{% block extraheadfiles %}
 

{% endblock %} 
                 

{% block content %}


<table class="table table-hover">
	<thead>
		<tr>
			<th style="width: 35%">Name</th>
			<th style="width: 50%">Name</th>
			<th style="width: 15%">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for rss in rsslist %}
		<tr>
			<td>{{ rss.name }}</td>
			<td>{{ rss.source }}</td>
			<td>
				<div class="btn-group">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
						href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/admin/rss/edit/{{ rss.id }}"><i
								class="icon-pencil"></i> Edit Source</a></li>
						<li><a href="/admin/rss/download/{{ rss.id }}"><i
								class="icon-list"></i> Download Source</a></li>
					</ul>
				</div>
			</td>
		</tr>
		{% endfor %}
	</tbody>

 
{% endblock %}
{% block bottomcode %} 
{% endblock %}