{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | RSS Importer</title>
{% endblock %}

{% block extraheadfiles %}


{% endblock %} 


{% block content %}




<table class="table table-striped table-bordered table-condensed">
    <thead>

    <th style="width: 5%"> </th>

    <th style="width: 80%">Title</th>
    <th style="width: 15%">Publish Date</th>
</thead>
<tbody>
    {% for article in articles %}
    <tr class="article{{ article.id }}">
        <td><button class="btn sil" data-id="{{ article.id }}">Delete</button></td>
        <td>{{ article.title }}</td>
        <td>{{ article.publish_date|date('d/m/Y H:i') }}</td>
    </tr>
    <tr class="article{{ article.id }}">
        <td colspan="4">
            {{ article.desc }}
        </td>
    </tr>

    {% endfor %}
</tbody>
</table>



{% endblock %}
{% block bottomcode %}
<script>
    
    $(document).ready(function(){
        $(".sil").click(function(){  
            var id = $(this).data('id');
            
            
            $.ajax({ url: '/ajax/deletearticle',
                type: 'POST',
                data: { id:id },
                success: function() {
                    $(".article"+id).remove();
                  
                }
            })
            
        });
    });
</script>
{% endblock %}