{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | User Management</title>
{% endblock %}

{% block extraheadfiles %}


{% endblock %} 


{% block content %}

{% if error %}
<div class="row">

    <div class="alert alert-error span6">
        <button type="button" class="close" data-dismiss="alert">×</button>
        {% for item in error %}
        {{ item }}
        {% endfor %}
    </div></div>

{% endif %}
<section id="forms">

    <div class="row">
        <div class="span10 offset1">

            {{ validation_errors()|raw }}
            
            <form class="form-horizontal well" method="post" action="/admin/user/update" name="user_update" id="user_update">
                <input type="hidden" id="id" name="id" value="{{ user.id }}">


                    <legend>User Management</legend>
                    {{ alert|raw }}
                    <div class="control-group">
                        <label class="control-label" for="name">Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" name="name" value="{{ user.name }}">
                        </div>
                    </div>   

                    <div class="control-group">
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="email" name="email" value="{{ user.email }}"/>
                        </div>
                    </div> 


                    <div class="control-group">
                        <label class="control-label" for="email">Password</label>
                        <div class="controls">
                            <input type="text" class="input-small" id="password" name="password" value=""/>
                            <input type="text" class="input-small inline" id="passwordcon" name="passwordcon" value=""/>

                        </div>
                    </div> 


                    <div class="control-group">
                        <label class="control-label" for="status">Status</label>
                        <div class="controls">
                            <select id="status" name="status">
                                <option value="{{ user.status }}">{{ user.status }}</option>
                                <option values="2">Pending</option>
                                <option values="1">Active</option>
                            </select>
                        </div>
                    </div>   
                    <div class="control-group">
                        <label class="control-label" for="level">Access Level</label>
                        <div class="controls">
                            <select id="status" name="level">
                                <option value="{{ user.level }}">{{ user.level }}</option>
                                <option values="3">Author</option>
                                <option values="2">Editor</option>
                                <option values="1">Admin</option>
                            </select>
                        </div>
                    </div>   
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                    <!-- ending form-->
            </form>

        </div>   </div>     
</section>   
{% endblock %}
{% block bottomcode %} 
{% endblock %}