{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | Category Management</title>
{% endblock %}

{% block extraheadfiles %}


{% endblock %} 


{% block content %}



<section id="forms">

    <div class="row">
        <div class="span10 offset1">

            <form class="form-horizontal well" method="post" action="{{ action }}" name="update_category" id="update_category">
                <input type="hidden" id="id" name="id" value="{{ category.id }}">


                    <legend>Update Category</legend>
                    {{ alert|raw }}
                    <div class="control-group">
                        <label class="control-label" for="input01">Category Name</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="name" name="name" value="{{ category.name }}">
                                <p class="help-block">This will be displayed on the top of article.</p>
                        </div>
                    </div>   

                    <div class="control-group">
                        <label class="control-label" for="seoTitle">Seo Title</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="seoTitle" name="seo_title" value="{{ category.seo_title }}"/>
                            <p class="help-block">Page title for search engines limit size is 120 characters</p>
                        </div>
                    </div> 

                    <div class="control-group">
                        <label class="control-label" for="seoDesc">Seo Description</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="seoDesc"  name="seo_desc" value="{{ category.seo_desc }}">
                        </div>
                    </div>                     
                    <div class="control-group">
                        <label class="control-label" for="seoKeyword">Seo Keyword</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="seoKeyword"  name="seo_keyword" value="{{ category.seo_keyword }}">
                        </div>
                    </div>   
                    
                                        <div class="control-group">
                        <label class="control-label" for="order_id">Order</label>
                        <div class="controls">
                            <input type="text" class="input-small" id="order_id"  name="order_id" value="{{ category.order_id }}">
                        </div>
                    </div>   

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                        <button type="reset" class="btn">Cancel</button>
                    </div>
                    <!-- ending form-->
            </form>

        </div>   </div>     
</section>   
{% endblock %}
{% block bottomcode %} 
{% endblock %}