{% extends 'panel/layout.html' %}


{% block title %}
<title>gnews publisher | Users Index</title>
{% endblock %}

{% block extraheadfiles %}
 

{% endblock %} 


{% block content %}
  
  
  
  
  <table class="table table-striped table-bordered table-condensed">
    <thead>
    <th style="width: 50%">Title</th>
    <th style="width: 20%">Publish Date</th>
    <th style="width: 20%">Status</th>

    <th style="width: 10%"> </th>
</thead>
<tbody>
    {% for user in users %}
    <tr id="article{{ user.id }}">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
           <td class="CommentStatus">
                   {{ user.status }}
            </td>
           <td class="CommentStatus">
                   {{ user.level }}
            </td>

            <td width="20%">
     
     <div class="btn-group">
  
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/admin/user/edit/{{ user.id }}"><i class="icon-pencil"></i> Edit User</a></li>
  </ul>
</div>
     </td>
    </tr>
    {% endfor %}
</tbody>
</table>
<div class="pagination">{{ pagination_links|raw }}</div>


{% endblock %}
{% block bottomcode %}
 
{% endblock %}