{% extends 'panel/layout.html' %}

{% block title %}
<title>gnews publisher | Video Gallery</title>
{% endblock %}

{% block extraheadfiles %}


{% endblock %} 


{% block content %}



<section id="forms">

    <div class="row">
        <div class="span10 offset1">

            <form class="form-horizontal well" method="post" action="/admin/gallery/video/{{ id }}" name="update_video" id="update_video">
                <input type="hidden" id="article_id" name="article_id" value="{{ id }}">
               
                    <div class="control-group">
                        <label class="control-label" for="input01">Title</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="title" name="title" value="{{ video.title }}">

                        </div>
                    </div>  
                    <div class="control-group">
                        <label class="control-label" for="input01">Alt Text</label>
                        <div class="controls">
                            <input type="text" class="input-xlarge" id="alt" name="alt" value="{{ video.alt }}">

                        </div>
                    </div>  
                    <div class="control-group">
                        <div class="controls">
                        <input type="text" class="input-xlarge" id="filename" name="filename" value="{{ video.filename }}">
 	                    </div>
                    </div> 
                                       
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Save changes</button>
                         <a href="{{ site_url }}admin/article/edit/{{ video.id }}" class="btn btn-inverse">Return to Article</a> 
                    </div>
                    <!-- ending form-->
            </form>

        </div>   </div>     
</section>   

{% endblock %}
{% block bottomcode %}
 
{% endblock %}