{% extends 'panel/layout.html' %}

{% block title %}
<title>gnews publisher | Gallery</title>
{% endblock %}

{% block extraheadfiles %}
<script>
    function closeDialog () {
        $('#myModal').modal('hide'); 
    };
    function okClicked () {
        closeDialog ();
    };    
    function goto(){
        id = $('#videoID').val();
        $.get("/admin/video/delete/"+id,
              function(data){
              $('#videoid_'+id).hide();
              closeDialog(); 
           });
    }
</script>
{% endblock %} 
{% block content %}

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 40%">Name</th>
            <th style="width: 50%">Title</th>      
            <th style="width: 10%">Action</th>
        </tr>
    </thead>
    <tbody>      
        {% for video in gallery %}
        <tr id="videoid_{{ video.id }}">
            <td> 
            <iframe	src="http://www.youtube.com/embed/{{ video.filename }}?wmode=opaque&amp;showinfo=0&amp;autohide=1"
										width="250" height="188" allowfullscreen></iframe>
            </td>
        <td>
            {{ photo.title }}<br/>
            {{ photo.alt }}
        </td>
        <td>

        <div class="btn-group">

            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/admin/gallery/video/{{ video.article_id }}"><i class="icon-pencil"></i> Edit Video</a></li>
                <li><a role="button" data-id="{{ video.id }}" class="delete" data-toggle="modal"><i class="icon-trash"></i> Delete Video</a></li>
                <li><a href="/admin/article/edit/{{ video.article_id }}"><i class="icon-list"></i> View Article</a></li>
            </ul>
        </div>
        </td>
        </tr>
        {% endfor %} 
        </tbody>
</table>

<div class="pagination">{{ pagination_links|raw }}</div>


<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Confirmation needed!</h3>
    </div>
    <div class="modal-body">
        <p>Please, confirm to delete the image from gallery!</p>
        <input type="hidden" name="videoID" id="videoID" value="" />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" onclick="goto()">Continue</button>
    </div>
</div>

{% endblock %}
{% block bottomcode %} 
<script src="/js/bootstrap-modal.js"></script>

<script>
    $(document).ready(function(){
     $(".delete").click(function(){  
     $("#photoID").val($(this).data('id'));
     $('#myModal').modal('show');
   });
});
    </script>
 {% endblock %}