{% extends 'default/layout.html' %} {% block title %}
<title>{{ article.seo_title }}</title>
<meta name="description" content="{{ article.seo_desc }}">
<meta name="keyword" content="{{ article.seo_keywords }}">

{% endblock %} {% block content %}

<div id="container">
    <div id="main" class="fullwidth">
        <div id="primary-left">
        <h1 class="posttitle">{{ article.title }}</h1>

        <p>
            {% if image.filename %} <img
            src="{{ site_url }}/images/content/{{ image.dirpath }}/{{ image.filename }}"
            alt="{{ article.title }}" title="{{ article.title }}" align="left"
            style="padding-right: 8px; padding-bottom: 5px; width: 30%" /> {%
        if gallery > 0 %} <a
            href="{{ site_url }}gallery/{{ article.seo_url }}">Visit
            Gallery</a> {% endif %}  {% endif %} 

        {% if video %} <a
            href="{{ site_url }}video/{{ article.seo_url }}">Watch Video</a>
        {% endif %}
        {{ article.story|raw }}

        </p>
        <div class="clear"></div>
        <div id="gab_share_widget-2" class="widget gab_share_widget">
            <div class="widgetinner">
                <h3 class="widgettitle">Share This Post</h3>
                <div class="share_firstrow">
                    <span class="gab_twitter_box"> <a
                            href="https://twitter.com/share" class="twitter-share-button"
                            data-url="{{ site_url }}article/{{ article.seo_url }}"
                            data-counturl="{{ site_url }}article/{{ article.seo_url }}"
                            data-lang="en-US" data-related="anywhereTheJavascriptAPI"
                        data-count="vertical">Tweet</a> <script>
                                !function(d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (!d.getElementById(id)) {
                                    js = d.createElement(s);
                                    js.id = id;
                                    js.src = "//platform.twitter.com/widgets.js";
                                    fjs.parentNode.insertBefore(js, fjs);
                                }
                            }(document, "script", "twitter-wjs");
                        </script>
                    </span>
                    <div id="fb-root"></div>
                    <script>
                        (function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id))
                                return;
                            js = d.createElement(s);
                            js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                    </script>
                    <div class="fb-like"
                         data-href="{{ site_url }}article/{{ article.seo_url }}"
                         data-send="false" data-layout="box_count" data-width="65"
                         data-show-faces="false"></div>
                    <div class="g-plusone" data-size="tall"></div>

                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
 
      <div id="primary-mid">
            <div class="cattitle">Editor's Choice</div>  
            {% for article in flash %}										
            <div class="featuredpost">
                <div class="posttitle">
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                </div>
            </div> <!-- .featuredpost -->
            {% endfor %}
            <div class="ads25x300"><img src="/img/side-banner-300x250.png" alt="" /></div>            
            <div class="cattitle">Latest Posts</div>    
            {% for article in latest %}										
            <div class="featuredpost">
                <div class="posttitle">                
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                </div>
            </div> <!-- .featuredpost -->
            {% endfor %}            
        </div>
        <div id="primary-right">
            <img src="/img/banner-120x600.gif" alt="" />																				
        </div> 
<!-- #Sidebar -->
<div class="clear"></div>

<!-- #Container -->
{% endblock %}
