{% extends 'default/layout.html' %}
{% block title %}
<title>{{ category.seo_title }}</title>
<meta name="description" content="{{ category.seo_desc }}">
<meta name="keyword" content="{{ category.seo_keywords }}">
{% endblock %}
{% block content %}
<div id="container">
    <div id="main" class="fullwidth">
        <div id="primary-left">
            {% for article in articles %}										
            <div class="featuredpost">
                <h2 class="posttitle">
                    {% if article.image.filename %}
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >
                        <img src="{{ site_url }}/images/content/{{ article.image.dirpath }}/{{ article.image.filename }}" class="alignleft" alt='{{ article.image.alt }}' title='{{ article.image.title }}' width="78">
                    </a>
                    {% endif %}
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                </h2>							

                <p>{{ article.summary }}</p>
            </div> <!-- .featuredpost -->
            {% endfor %}	
            <div class="mypagination">{{ pagination_links|raw }}</div>
        </div><!-- archive_left -->

        <div id="primary-mid">
            <div class="cattitle">Editor's Choice</div>  
            {% for article in flash %}										
            <div class="featuredpost">
                <div class="posttitle">
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                </div>
            </div> <!-- .featuredpost -->
            {% endfor %}
            <div class="ads25x300"><img src="/img/side-banner-300x250.png" alt="" /></div>            
            <div class="cattitle">Latest Posts</div>    
            {% for article in latest %}										
            <div class="featuredpost">
                <div class="posttitle">                
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                </div>
            </div> <!-- .featuredpost -->
            {% endfor %}            
        </div>
        <div id="primary-right">
            <img src="/img/banner-120x600.gif" alt="" />																				
        </div>
        <div class="clear"></div>
    </div><!-- #main -->
</div><!-- #Container -->

{% endblock %}