
{% extends 'default/layout.html' %}
{% block title %}
<title>{{ system.seo_title }}</title>
<meta name="description" content="{{ system.seo_desc }}">
<meta name="keyword" content="{{ system.seo_keywords }}">
{% endblock %}
{% block content %}
<div id="primarycontent">
    <div id="primary-left">
        <div id="featured-slider">
            <div class="fea-slides">
                {% for article in flash %}	
                <div class="slide_item">
                    <div class="featured-media">
                        {% if article.image.filename %}
                        <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >
                            <img src="{{ site_url }}/images/content/{{ article.image.dirpath }}/{{ article.image.filename }}" class="media" alt='{{ article.image.alt }}' title='{{ article.image.title }}' width="478" height=270"">
                        </a>
                        {% endif %}                        
                        <div class="postteaser">
                            <h2 class="posttitle">
                                <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                            </h2>
                        </div>
                    </div>
                </div><!-- .slide-item -->
                {% endfor %}
            </div><!-- .fea-slides -->
            <div id="fea-nav">
                <ul id="featured-nav">
                    {% for article in flash %}
                    <li >
                        <a href="#">
                            {% if article.image.filename %}
                            <img src="{{ site_url }}/images/content/{{ article.image.dirpath }}/{{ article.image.filename }}" class="fea_thumb" alt="{{ article.title }}" title="{{ article.title }}" width="86" height="60"/></a>
                        {% endif %}     
                    </li>
                    {% endfor %}
                </ul>
                <div class="clear"></div>
            </div><!-- /nav -->	
        </div><!-- #featured-slider -->
        <div class="section_shadow"></div>
    </div><!-- #primary-left -->
    <div id="primary-mid">
        {% for article in featured %}										
        <div class="featuredpost">
            <h2 class="posttitle">
                {% if article.image.filename %}
                <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >
                    <img src="{{ site_url }}/images/content/{{ article.image.dirpath }}/{{ article.image.filename }}" class="alignleft" alt='{{ article.image.alt }}' title='{{ article.image.title }}' width="78">
                </a>
                {% endif %}
                <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
            </h2>							

            <p>{{ article.summary|truncate(100,true,'') }}</p>
        </div> <!-- .featuredpost -->
        {% endfor %}	
    </div><!-- #primary-mid -->
    <div id="primary-right">
        <img src="/img/sampleBanner120x240.gif" alt=""/>
    </div><!-- primary-right -->
    <div class="clear"></div>
</div><!-- #primary-content -->
<div id="secondarycontent">
    <div id="secondary-mid">
        <!-- below slider -->
        {% for article in home %}										
        <div class="featuredpost">
            <h2 class="posttitle">
                {% if article.image.filename %}
                <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >
                    <img src="{{ site_url }}/images/content/{{ article.image.dirpath }}/{{ article.image.filename }}" class="alignleft" alt='{{ article.image.alt }}' title='{{ article.image.title }}' width="78">
                </a>
                {% endif %}
                <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
            </h2>							

            <p>{{ article.summary|truncate(100,true,'') }}</p>
        </div> <!-- .featuredpost -->
        {% endfor %}	





    </div><!-- #secondary-left -->

    <div id="secondary-right">
        <div class="widget"><img src="/img/side-banner-300x250.png" alt="" /></div>
    </div><!-- #secondary-right -->
    <div class="clear"></div>
</div><!-- #secondarycontent -->

<div id="subnews">
    <div id="subnews_left">

        {% for article in colm %}	
        <div class="col">


            <div class="featuredpost">

                <h2 class="posttitle">
                    <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                </h2>

                <p>{{ article.summary|truncate(100,true,'') }}</p>

            </div>
        </div><!-- .col -->

        {% endfor %}





        <div class="border"></div>


    </div><!-- #subnews_left -->

    <div id="subnews_right">
        <div class="widget"><img src="/img/side-banner-300x250.png" alt="" /></div>

    </div>
    <div class="clear"></div>
</div><!-- .subnews -->
{% endblock %}
