<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	      
        {% block title %} {% endblock %}             
        <base href="{{ site_url }}" target="_self">	
            <link rel="stylesheet" type="text/css" media="all" href="default/css/style.css" />	
            <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js?ver=3.4.2'></script>
            <script type='text/javascript' src='default/js/jquery.cycle.all.min.js?ver=3.4.2'></script>
            <script type='text/javascript' src='default/js/jCarouselLite.js?ver=3.4.2'></script>  	
            <script type='text/javascript'>
                (function($) {
                    $(document).ready(function() { 
                        $('a[href=#top]').click(function(){
                            $('html, body').animate({scrollTop:0}, 'slow');
                            return false;
                        });
                        $('#featured-slider .fea-slides').cycle({ 
                            pauseOnPagerHover: 1,
                            prev:   '.fea_prev',
                            next:   '.fea_next',
                            pauseOnPagerHover: 1,
                            fx:     'scrollUp',
                            timeout: '15000',
                            speed: '1000',
                            pager:  '#featured-nav', 
                            pagerAnchorBuilder: function(idx, slide) { 
                                // return selector string for existing anchor 
                                return '#featured-nav li:eq(' + idx + ') a'; 
                            } 
                        });
                        $('#mid-slider .fea-slides').cycle({ 
                            fx:     'fade', 
                            timeout: 0,
                            prev:   '.media_prev',
                            next:   '.media_next',
                            pauseOnPagerHover: 1,
                            pager:  '#mid-slider-pagination', 
                            pagerAnchorBuilder: function(idx, slide) { 
                                // return selector string for existing anchor 
                                return '#mid-slider-pagination li:eq(' + idx + ') a'; 
                            } 
                        });
						
                        $("ul.tabs").tabs("div.panes > div");
                        // $("ul.sc_tabs").tabs("div.sc_tabs-content > div");
			
                    });
                })(jQuery);
            </script> 		 	 	
    </head>
    <body class="home blog">
        <div class="wrapper"> 	
            <div id="header">  			 			
                <div class="logo">	 									
                    <h1>						
                         
                            <a href="{{ site_url }}" title="GNews Publisher">GNews Publisher</a>
                       			</h1>							
                </div>
                <!-- logo -->			   			
                <div class="clear">
                </div>					 	
            </div>
            <!-- /header -->	
            <div id="mainmenu">		
                <ul class="mainnav dropdown">						 				
                    <li class="first current-cat">
                        <a href="{{ site_url }}" title="HOME PAGE">Home</a>
                    </li>                                {% for cat in categories %} 					
                    <li class="cat-item cat-item-{{ cat.id }}">
                        <a href="{{ site_url }}category/{{ cat.seo_url }}" title="{{ cat.name }}">{{ cat.name }}</a>
                    </li>                                  {% endfor %}  				 		
                </ul>		
                <div class="clear">
                </div>	
            </div>
            <!-- /mainmenu -->	      {% block content %}                 {% endblock %}   
        </div>
        <!-- wrapper -->
        <div id="footer">    	
            <div class="clear">
            </div>			 	
            <div id="footer_meta">		
                <p class="footer-left-text">	 							&copy; 2012, 
                    <a href="#top" title="Gnews Publisher" rel="home">Gnews Publisher</a>					
                </p>		 		
                <p class="footer-right-text">	   						
                    <a href="http://www.gazatem.com/" title="Powered by Gnews Publisher - Gazatem Technologies" rel="generator">Powered by Gnews Publisher</a>  					
                </p>		
                <div class="clear">
                </div>	
            </div>
        </div>
        <!-- /footer -->	 
    </body>
</html>