{% extends 'default/layout.html' %} {% block title %} 
<title>{{ article.seo_title }}</title>
<meta name="description" content="{{ article.seo_desc }}">
<meta name="keyword" content="{{ article.seo_keywords }}">

{% endblock %} {% block content %} 
<div id="container">			
    <div id="secondary-mid">				 					
        <div class="post type-post status-publish format-standard hentry category-swimming tag-watkins-memorial entry">						
			<h2>{{ article.title }}</h2>
            <h3>{{ video.title }}</h3>	
            
            
            <iframe  
										src="http://www.youtube.com/embed/{{ video.filename }}?wmode=opaque&amp;showinfo=0&amp;autohide=1"
										width="480" height="360" allowfullscreen></iframe>
										
                         <div class="clear">
            </div>
             
            <p>
            {{ video.alt|raw }}
            <br/>
            
            </p>
            <div class="clear">
            </div>
            <div id="gab_share_widget-2" class="widget gab_share_widget">
                <div class="widgetinner">
                    <h3 class="widgettitle">Share This Post</h3>
                    <div class="share_firstrow">
                        <span class="gab_twitter_box">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site_url }}article/{{ article.seo_url }}" data-counturl="{{ site_url }}article/{{ article.seo_url }}" data-lang="en-US" data-related="anywhereTheJavascriptAPI" data-count="vertical">Tweet</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                        </span>
                        <div id="fb-root">
                        </div>					
                        <script>(function(d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
                            fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>					 					
                        <div class="fb-like" data-href="{{ site_url }}article/{{ article.seo_url }}" data-send="false" data-layout="box_count" data-width="65" data-show-faces="false">
                        </div>
                        <div class="g-plusone" data-size="tall">
                        </div>
                        <div class="clear">
                        </div>
                    </div>
                    <!-- gab_twitter_box -->
                    <a target="_blank" rel="nofollow" class="facebook" href="http://www.facebook.com/share.php?u={{ site_url }}article/{{ article.seo_url }}&t={{ article.title }}" title="Share on Facebook ">Facebook</a>
                    <a target="_blank" rel="nofollow" class="twitter" href="http://twitter.com/home?status={{ site_url }}article/{{ article.seo_url }}&headline={{ article.title }}" title="Share on Yahoo ">Yahoo</a>
                    <div class="clear">
                    </div>
                </div>
            </div>						 										 												 					
        </div>
        <!-- .entry -->								 				  				 			
    </div>
    <!-- #main -->			 			
    <div id="secondary-right">				
        <div class="sidebarinner">
            <div class="sidebar_left">	
                <div class="widget">	<img src="/img/side-banner-300x250.png" alt="" /> 
                </div>		

                <h2>Editor's Choice</h2><br>    
                {% for article in latest %}										
                <div class="featuredpost">
                    <div class="posttitle">
                        <a href="{{ site_url }}article/{{ article.seo_url }}" rel="bookmark" title="{{ article.title }}" >{{ article.title }}</a>
                    </div>							
                </div> <!-- .featuredpost -->
                {% endfor %}


                <img src="/img/side-banner-300x250.png" alt="" />
            </div>

        </div>
        <!-- .sidebarinner -->			
    </div>
    <!-- #Sidebar -->	 			
    <div class="clear">
    </div>	
</div>
<!-- #Container -->{% endblock %}