html {
	margin: 0;
	padding: 0;
	border: 0;
}

body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,del,dfn,img,q,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,article,aside,dialog,figure,footer,header,hgroup,nav,section
	{
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

article,aside,dialog,figure,footer,header,hgroup,nav,section {
	display: block;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption,th,td {
	text-align: left;
	font-weight: normal;
	float: none !important;
}

table,th,td {
	vertical-align: middle;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
}

blockquote,q {
	quotes: "" "";
}

a img {
	border: none;
}

:focus {
	outline: 0;
}

ol,ul {
	list-style: none;
}

li {
	line-height: 120%;
}

dt {
	font-weight: bold;
	text-decoration: underline;
}

dd {
	margin: 0;
	padding: 0 0 0.5em 0;
}

/*----- ={ Headings } -----*/
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	text-decoration: none;
}

h1 a:hover,h2 a:hover,h3 a:hover,h4 a:hover,h5 a:hover,h6 a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	line-height: 1;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

.postmeta a {
	text-decoration: none !important
}

.postmeta a:hover {
	text-decoration: underline !important
}

 
label {
	font-weight: bold;
	cursor: pointer;
}

fieldset {
	padding: 0 14px 14px 14px;
	margin: 0 0 15px 0;
	border: 1px solid #aaa;
}

legend {
	font-weight: bold;
	font-size: 1.2em;
	margin-top: -2px;
	margin-bottom: 10px;
}

fieldset,#IE8#HACK {
	padding-top: 14px;
}

legend,#IE8#HACK {
	margin-top: 0;
	margin-bottom: 0;
}

/* Input Fields */
input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3
	{
	border-left-width: 1px;
	border-right-width: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

input.span-1,textarea.span-1 {
	width: 218px;
}

input.span-2,textarea.span-2 {
	width: 258px;
}

input.span-3,textarea.span-3 {
	width: 458px;
}

/* 
  Attribute selectors are used to differentiate the different types 
  of input elements, but to support old browsers, you will have to 
  add classes for each one. ".title" simply creates a large text  
  field, this is purely for looks.
 */
input[type=text],input[type=password],input.text,input.title,textarea {
	background-color: #fff;
	border: 1px solid #bbb;
}

input[type=text]:focus,input[type=password]:focus,input.text:focus,input.title:focus,textarea:focus
	{
	border-color: #666;
}

select {
	background-color: #fff;
	border-width: 1px;
	border-style: solid;
}

input[type=text],input[type=password],input.text,input.title,textarea,select
	{
	margin: 0.5em 0;
}

input.text,input.title {
	padding: 5px;
}

input.title {
	font-size: 15px;
}

textarea {
	padding: 5px;
	height: 200px;
}

form.inline {
	line-height: 3;
}

form.inline p {
	margin-bottom: 0;
}

/*----- [[ Success, info, notice and error/alert boxes and other mis classes ]] -----*/
.error,.alert,.notice,.success,.info {
	padding: 0.8em !important;
	margin-bottom: 1em;
	border: 2px solid #ddd;
}

.error,.alert {
	background: #fbe3e4;
	color: #8a1f11;
	border-color: #fbc2c4;
}

.notice {
	background: #fff6bf;
	color: #514721;
	border-color: #ffd324;
}

.success {
	background: #e6efc2;
	color: #264409;
	border-color: #c6d880;
}

.info {
	background: #d5edf8;
	color: #205791;
	border-color: #92cae4;
}

.error a,.alert a {
	color: #8a1f11;
	text-decoration: underline;
}

.notice a {
	color: #514721;
	text-decoration: underline;
}

.success a {
	color: #264409;
	text-decoration: underline;
}

.info a {
	color: #205791;
	text-decoration: underline;
}

.alignleft,.alignright,.alignnone,.aligncenter {
	border: 1px solid #222;
	line-height: 0;
	display: block;
}

.alignleft,#content img.alignleft {
	display: inline;
	float: left;
	margin-right: 10px;
	margin-top: 4px;
}

.alignright,#content img.alignright {
	display: inline;
	float: right;
	margin-left: 10px;
	margin-top: 4px;
}

.aligncenter,#content img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 7px;
}

img.alignleft,#content img.alignright,#content img.aligncenter {
	margin-bottom: 8px;
}

/* Use a .box to create a padded box inside a column.  */
.box {
	padding: 15px;
	margin-bottom: 15px;
	background: #e5eCf9;
}
 
.text-right {
	display: block;
	text-align: right;
}

.first {
	margin-left: 0;
	padding-left: 0;
}

.last {
	margin-right: 0 !important;
	border: 0 !important
}

.top {
	margin-top: 0;
	padding-top: 0;
}

 
.left {
	float: left !important;
}

p .left {
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}

.right {
	float: right !important;
}

p .right {
	margin: 1.5em 0 1.5em 1.5em;
	padding: 0;
}

.thumb {
	padding: 2px;
	border: 1px solid #ddd;
	margin-bottom: 5px;
	display: block;
	height: 1%;
	overflow: hidden;
}

.clear {
	clear: both;
	height: 1px;
	display: block;
}

/* -------------------------------------------------------------- 
   BUTTONS
   Created by Kevin Hale [particletree.com]
   * particletree.com/features/rediscovering-the-button-element
-------------------------------------------------------------- */
a.button,button {
	display: block;
	float: left;
	margin: 0.7em 0.5em 0.7em 0;
	padding: 5px 10px 5px 7px; /* Links */
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	background-color: #f5f5f5;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	color: #565656;
	cursor: pointer
}

button {
	width: auto;
	overflow: visible;
	padding: 4px 10px 3px 7px; /* IE6 */
}

button[type] {
	padding: 4px 10px 4px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}

*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}

button img,a.button img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
	float: none
}
 
body {
	color: #000;
	font: 13px arial, verdana, tahoma, sans-serif;
}

/* ********************************************************************************* */
.wrapper {
	margin: 0 auto;
	width: 960px;
	padding: 8px 10px;
	background: #fff;
}

.wrapper:after {
	content: "";
	display: block;
	clear: both;
}

p {
	margin: 0 0 15px
}

a {
	color: #cd1713;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.featuredpost {
	margin: 0 0 10px;
	border-bottom: 1px dotted #aaa;
	padding-bottom: 7px;
}

.featuredpost p {
	margin: 0 0 5px;
}

.cattitle {
	font: 20px/20px "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	color: #CD1713;
        font-weight: bold;
	margin: 0 0 10px 0;
	letter-spacing: -1px;
}

 

.posttitle {
	font: 18px/20px "Trebuchet MS", Helvetica, Jamrul, sans-serif;
	color: #333;
        font-weight: bold;
	margin: 0 0 10px 0;
	letter-spacing: -1px;
}

.posttitle a {
	color: #333;
}

.posttitle a:hover {
	color: #c70000; text-decoration: underline;
} 

/*header*/
#header {
	display: block;
	border-bottom: 3px solid #222;
	position: relative;
}

#header_banner {
	width: 960px;
	display: block;
} /* If single-banner header is activated on theme control panel */
#header .logo {
	display: block;
	margin: 0 auto;
	font-size: 40px;
	font-family: georgia, 'palatino linotype', palatino, 'times new roman',
		times, serif;
	padding: 10px 4px;
}

#header .logo img {
	display: block;
	margin: 0 auto;
}

#mainmenu {
	display: block;
        height: 65px;
}

.mainnav {
	font: 22px impact, "arial black", sans-serif;
	text-transform: uppercase;
}

.mainnav:after {
	content: "";
	display: block;
	clear: both;
}

.mainnav li {
	float: left;
	position: relative;
}

.mainnav li a {
	color: #222;
	padding: 6px 12px;
}

.mainnav li.current_page_item a,.mainnav li.current-cat a,.mainnav li.current-menu-item a
	{
	color: #cd1713;
}

.mainnav li.current_page_item,.mainnav li.current-cat,.mainnav li.current-menu-item
	{
	border-left: none;
}

.mainnav li a:hover {
	color: #cd1713;
	text-decoration: none;
}

.mainnav li.current_page_item a:hover,.mainnav li.current-cat a:hover,.mainnav li.current-menu-item a:hover
	{
	text-decoration: none;
}

.mainnav li ul {
	border-bottom: 1px solid #ddd;
	position: absolute;
	z-index: 999;
	width: 180px;
	padding-top: 1px;
}

.mainnav li ul li {
	float: none;
	border-left: none;
	margin: 0;
	padding: 0;
}

.mainnav li.current_page_item li a,.mainnav li.current-cat li a,.mainnav li.current-menu-item li a
	{
	background: #f9f9f9;
	color: #555;
}

.mainnav li ul li a {
	background: #f9f9f9;
	color: #555;
	text-transform: none;
	font: bold 13px arial, tahoma, verdana, sans-serif;
	width: 158px;
	padding: 4px 10px;
	height: auto;
	line-height: normal;
	margin: 0;
	border: 1px solid #ddd;
	border-bottom: 0;
}

.mainnav li ul li a.sf-with-ul {
	padding: 5px 10px;
}

.mainnav li ul li a:hover {
	background: #efefef;
	color: #555;
	text-decoration: none;
}

.mainnav li ul ul {
	margin: -25px 0 0 179px;
	padding-top: 0;
}

#primarycontent {
	display: block;
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

#primary-left {
	float: left;
	width: 500px;
}
/*----- ={ SLIDER } -----*/
#featured-slider {
	width: 478px;
	padding: 10px;
	background: #efefef;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#featured-slider .fea-slides {
	height: 270px;
	overflow: hidden;
}

#featured-slider .featured-media {
	display: block;
	width: 478px;
	height: 270px;
	position: relative;
}

#featured-slider .media {
	position: absolute;
	z-index: 1;
}

#featured-slider .postteaser {
	background: url(/default/img/bg-transparent.png) repeat;
	width: 458px;
	padding: 10px;
	z-index: 2;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
}

#featured-slider .posttitle {
	margin: 0 0 5px;
	font-size: 20px;
}

#featured-slider .posttitle a {
	color: #fff;
}

#featured-slider .posttitle a:hover {
	text-decoration: underline;
}

#featured-slider p {
	margin: 0;
}

.section_shadow {
	background: url(default/section-shadow.png) no-repeat top center;
	width: 498px;
	height: 7px;
	display: block;
	margin-bottom: 15px;
}

/* Navigation of featured slider */
#featured-nav li {
	width: 87px;
	float: left;
	margin-right: 8px;
	margin-top: 10px;
}

#featured-nav li a img {
	border-top: 4px solid #fff;
	padding-top: 6px;
	display: block;
}

#featured-nav li.activeSlide img,#featured-nav li a:hover img {
	border-top: 4px solid #cd1713;
}

/* Two column below featured section. */
#primarycontent .col {
	width: 232px;
}

#primary-mid {
	float: left;
	width: 300px;
	margin: 0 10px;
	padding: 0 9px;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
}

#primary-right {
	float: left;
	width: 120px;
	display: inline;
}

#primary-right .widget {
	border-bottom: none !important;
	padding-bottom: 0 !important
}

#secondarycontent {
	display: block;
	margin-bottom: 15px;
	border-bottom: 1px solid #efefef;
}

#secondary-left {
	float: left;
	width: 160px;
}

#secondary-mid {
	float: left;
	width: 625px;
	margin: 0 0px;
	padding: 0 0px;
	margin-right: 5px;
	padding-right: 5px;
	border-right: 1px solid #efefef;
}

#secondary-right {
	float: right;
	width: 300px;
}

.ads25x300 {
	display: block;
	margin-bottom: 15px;
}

 
/* body */
#container {
	display: block;
}

#container .wrapper {
	padding-bottom: 15px;
}
 

/* FOOTER */
#footer {
	display: block;
	padding: 0 10px 10px;
	background: #fff;
	width: 960px;
	margin: 0 auto;
}

#footer a {
	color: #333;
}

#footer a:hover {
	text-decoration: underline;
}
 
#footer_meta {
	font-size: 11px;
	color: #555;
	padding: 10px;
	background: #efefef;
	margin-top: -1px;
	border-top: 1px dotted #aaa
}

#footer_meta p {
	margin: 0;
}

#footer_meta .footer-left-text {
	float: left;
	width: 35%;
	display: block;
}

#footer_meta .footer-right-text {
	float: right;
	width: 65%;
	display: block;
	text-align: right !important;
}

 
.mypagination {
	height: 40px;
	margin: 20px 0;
}

.mypagination ul {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */
	*zoom: 1;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.mypagination li {
	display: inline;
}

.mypagination a,.mypagination span {
	float: left;
	padding: 0 14px;
	line-height: 38px;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	border-left-width: 0;
}

.mypagination a:hover,.mypagination .active a,.mypagination .active span
	{
	background-color: #f5f5f5;
}

.mypagination .active a,.mypagination .active span {
	color: #999999;
	cursor: default;
}

.mypagination .disabled span,.mypagination .disabled a,.mypagination .disabled a:hover
	{
	color: #999999;
	background-color: transparent;
	cursor: default;
}

.mypagination li:first-child a,.mypagination li:first-child span {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.mypagination li:last-child a,.mypagination li:last-child span {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.mypagination-centered {
	text-align: center;
}

.mypagination-right {
	text-align: right;
}
.fullwidth {width:960px !important; padding-top:40px;}

.small {font-size:80%; }

.widget {margin:0 0 25px;}
        .widget .widget {width:auto !important;margin:0 !important}
        .widgettitle {margin:0;padding:0 0 10px;font: bold 14px Arial,Helvetica,sans-serif;color:#555;}
        .widget p{margin-bottom:10px;}
        .widget ul {clear:both;padding-left:5px;list-style-position:inside;list-style-type:disc;}
        .widget ul li {border-bottom:1px dotted #ddd;padding-bottom:8px;margin-bottom:7px;}
        .widget ul ul {padding:0 0 0 15px;border-top:none}
        .widget select {border:1px solid #ddd;}
        .widget form, .widget fieldset {margin:0;}
        .widget img {display:block;}
        .widgetname {display:block;padding:10px;background:#333;color:#fff;text-transform:uppercase;margin:10px 0;text-align:center;font-weight:bold;}

.gab_share_widget {padding-bottom:5px;margin-bottom:5px;display:block;}
        .share_firstrow {margin-bottom:10px;}
                .gab_twitter_box {display:block;float:left;min-width:55px;width:auto;margin-right:20px}
                .fb-like {display:block;float:left;min-width:65px;width:auto}
                .g-plusone {display:block;float:left;min-width:50px;width:auto;}